$block-padding ?= 15px
$block-width ?= 290px
$block-max-width ?= 1170px

block(wrapper = true) {
   +cache('block') {
      padding-left $block-padding
      padding-right $block-padding
   }

   if wrapper is true {
      &__wrapper{
         block-wrapper();
      }
   }
}
block-wrapper() {
   +cache('block-wrapper') {
      box-sizing border-box
      margin-left auto
      margin-right auto
      if ($block-max-width) {
         min-width $block-width
         max-width $block-max-width
      } else if ($block-width) {
         width $block-width
      }
   }
}

.block {
   block()
}
.block__wrapper {
   block-wrapper()
}
