global-reset()
reset-html5()

q, blockquote {
   quotes none
}

q:before, q:after, blockquote:before, blockquote:after {
   content none
}

img {
   vertical-align middle
}

b, strong {
   font-weight bold
}

i, em {
   font-style italic
}

:focus, :active {
   outline none
}

[href^='tel:'] {
   color inherit
   text-decoration none
}

button, input, optgroup, select, textarea {
   color inherit
   font inherit
   margin 0
}

button {
   overflow visible
}

button, select {
   text-transform none
}

button, html input[type='button'], input[type='reset'], input[type='submit'] {
   cursor pointer
   -webkit-appearance button
}

button[disabled], html input[disabled] {
   cursor default
}

button::-moz-focus-inner, input::-moz-focus-inner {
   border 0
   padding 0
}

input {
   line-height normal
}

input[type='checkbox'], input[type='radio'] {
   box-sizing border-box
   padding 0
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
   height auto
}

input[type='search'] {
   -webkit-appearance textfield
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
   -webkit-appearance none
}

textarea {
   overflow auto
   resize none
}

optgroup {
   font-weight bold
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='url'],
select,
textarea {
   width 100%
   box-sizing border-box
}