svg(name = null, color = null, width = null, height = null, targetColor = '%23xxx') {
   if !name and @-svg {
      name = @-svg
   }

   svg = $svg[name]

   originWidth = @width
   originHeight = @height

   if svg {
      resultWidth = 0;
      resultHeight = 0;

      if width or height {
         if width and height {
            resultWidth = width
            resultHeight = height
         } else if width {
            resultWidth = width
            resultHeight = width / svg.width * svg.height
         } else if height {
            resultWidth = height / svg.height * svg.width
            resultHeight = height
         }

      } else {
         if originWidth and originHeight {
            resultWidth = originWidth
            resultHeight = originHeight
         } else if originWidth {
            resultWidth = originWidth
            resultHeight = originWidth / svg.width * svg.height
         } else if originHeight {
            resultWidth = originHeight / svg.height * svg.width
            resultHeight = originHeight
         } else {
            resultWidth = 0
            resultHeight = 0
         }
      }

      result = replace(targetColor, replace('#', '%23', '%s' % color), svg.icon)

      if resultWidth {
         width resultWidth
      }
      if resultHeight {
         height resultHeight
      }

      if @-svg != name {
         -svg name
      }

      if color {
         +cache('svg-result-' + name + '-' + str-replace(color, '#', '')) {
            background url('data:image/svg+xml;charset=utf-8,' + result) 0 0 no-repeat
            background-size 100% 100%
         }
      }

   } else {
      error('Svg icon «' + name + '» not found')
   }
}
