{% extends 'imports/_main.twig' %}
{% block content %}
{% endblock %}
{% block sidebar %}
    <div class="profile">
        <div class="profile-avatar">
            <a href="#" data-open-modal class="profile-avatar__link">
                <canvas id="avatar"></canvas>
            </a>
        </div>
    </div>
{% endblock %}
{% block modal %}
    <div data-change-avatar-modal class="modal-overlay">
        <div class="modal-container">
            <a href="#" class="modal-close-btn" data-close-modal></a>
            <div class="modal-content">
                <div class="modal-content__title">Фото профиля</div>
                <div class="modal-content__body">

                    <div class="profile-upload-avatar" data-upload-avatar="1">
                        <div class="profile-upload-avatar__primary">
                            <div class="profile-avatar-cube">
                                <div class="profile-avatar-cube__wrapper"></div>
                                <div class="profile-avatar-cube__content">
                                    <form class="file-drop"
                                          data-file-drop="avatar-upload"
                                          action="/upload.php"
                                          method="post">
                                        <div class="file-drop__input">
                                            <input class="file-drop__file" type="file" name="files" id="file" accept="image/x-png,image/jpeg"/>
                                            <label for="file">
                                                    <span class="file-drop__dragndrop">
                                                        Перетащите фотографию<br>
                                                        или <br>
                                                        <span class="link">Выберите файл на компьютере</span>
                                                    </span>.
                                            </label>
                                        </div>
                                        <div class="file-drop__uploading">
                                            <div data-progress class="file-drop__uploading-percent"></div>
                                        </div>
                                        <div class="file-drop__success">Done!</div>
                                        <div data-error-msg class="file-drop__error"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="profile-upload-avatar__second">
                            <div class="profile-avatar-cube profile-avatar-cube__circle-overlay">
                                <div class="profile-avatar-cube__wrapper"></div>
                            </div>
                            <div class="profile-upload-avatar__second-mini">
                                <div class="profile-avatar-cube profile-avatar-cube__circle-overlay">
                                    <div class="profile-avatar-cube__wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-upload-avatar" data-upload-avatar="2">
                        <div class="profile-upload-avatar__primary">
                            <div class="profile-avatar-cube">
                                <div class="profile-avatar-cube__wrapper"></div>
                                <div class="profile-avatar-cube__content">
                                    <div class="image-cropper" data-cropper>
                                        <div data-cropper-content class="image-cropper__region">
                                            <span data-resize="tl" class="resize-tl"></span>
                                            <span data-resize="tr" class="resize-tr"></span>
                                            <span data-resize="br" class="resize-br"></span>
                                            <span data-resize="bl" class="resize-bl"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-upload-avatar__second">
                            <div class="profile-avatar-cube profile-avatar-cube__circle-overlay">
                                <div data-cropper-preview class="profile-avatar-cube__wrapper">
                                    <canvas></canvas>
                                </div>
                            </div>
                            <div class="profile-upload-avatar__second-mini">
                                <div class="profile-avatar-cube profile-avatar-cube__circle-overlay">
                                    <div data-cropper-preview class="profile-avatar-cube__wrapper">
                                        <canvas></canvas>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="profile-upload-avatar__delete" data-cropper-delete>Удалить</a>
                        </div>
                        <div class="profile-upload-avatar__buttons">
                            <a href="#" data-cropper-save class="btn">Сохранить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
