<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="format-detection" content="telephone=no">
    {% block meta %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/style.sass.css">

    {% endblock %}
</head>
<body>
<div class="layout">
    <div class="layout__content">
        {% block content %}{% endblock %}
    </div>
    <div class="layout__sidebar">
        {% block sidebar %}{% endblock %}
    </div>
</div>
{% block modal %}{% endblock %}
{% block javascripts %}
    <script src="/js/vendor.js"></script>
    <script src="/js/common.js"></script>
{% endblock %}
{% block footer_stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
{% endblock %}
</body>
</html>
