.btn{
  display: inline-block;
  padding: 0.875rem 2.6875rem;
  background: $blue;
  font-size: 1rem;
  color: $white;
  border-radius: 1.4375rem;
  text-decoration: none;
  &:hover,
  &:focus{
    background: darken($blue,15%);
  }
}