// Colors
$white: #fff;
$black: #000;
$gray: #2a2927;
$gray_light: #f8f8f8;
$blue: #184faa;
$blue_light: #bed3f4;

$body-bg: #fff;
$body-color: $gray;

$sidebar-bg: #f8f8f8;
$sidebar-border-color: #dbe4e9;