.file-drop{
  transition: all .5s ease;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &__input{

  }
  &__file{
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
  }
  &__dragndrop{
    display: none;
  }
  &__uploading,
  &__success,
  &__error {
    display: none;
    opacity: 0;
    transition: all .5s ease;
  }
  &__error{
    color: darkred;
    margin-top: 1rem;
  }
  &__uploading{
    position: relative;
    height: .2rem;
    background: $blue_light;
    width: 50%;
    z-index: 5;
    &-percent{
      position: absolute;
      top:0;
      left:0;
      height: 100%;
      width: 0;
      background: $blue;
      transition: all .5s ease;
    }
  }
  &.is-dragover{
    background: rgba(0,0,0,.5);
    outline: 2px dashed $gray;
    outline-offset: -10px;
  }
  &.is-uploading{
    .file-drop__uploading{
      display: block;
      opacity: 1;
    }
    .file-drop__input{
      display: none;
    }
  }
  &.is-error{
    .file-drop__uploading{
      display: none;
    }
    .file-drop__error{
      display: block;
      opacity: 1;
    }
  }
  &.has-advanced-upload {

  }
  &.has-advanced-upload .file-drop__dragndrop {
    display: inline;
  }
}