.image-cropper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &__region {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    min-width: 100px;
    min-height: 100px;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    z-index: 10;
    box-shadow: 0 0 0 100vw rgba(255, 255, 255, .2);
    border-radius: 50%;
    transition: all .05s linear;
    .resize-tl,
    .resize-tr,
    .resize-br,
    .resize-bl {
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      border: 1px #6a8aff solid;
    }
    .resize-tl {
      top: 0;
      left: 0;
      cursor: se-resize !important;
      border-width: 1px 0 0 1px;
    }
    .resize-tr {
      top: 0;
      right: 0;
      cursor: sw-resize !important;
      border-width: 1px 1px 0 0;
    }
    .resize-br {
      bottom: 0;
      right: 0;
      cursor: nw-resize !important;
      border-width: 0 1px 1px 0;
    }
    .resize-bl {
      bottom: 0;
      left: 0;
      cursor: ne-resize !important;
      border-width: 0 0 1px 1px;
    }
  }
  img {
    width: 100%;
    max-height: 100%;
  }
}

