.layout{
  *{
    box-sizing: border-box;
  }
  &__content{
    position: relative;
    padding: 0 250px 0 0;
  }
  &__sidebar{
    position: fixed;
    z-index: 100;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background: $sidebar-bg;
    border-left: 1px $sidebar-border-color solid;
  }
}

