.modal {
  position: relative;
  &-overlay {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($black, .5);
    z-index: 900;
    opacity: 0;
    transition: all 1s ease;
    &.active {
      display: flex;
      opacity: 1;
      .modal-container {
        animation: fadeModal .5s ease-in-out;
        border-radius: 0;
      }
    }
    &.deactive{
      display: flex;
      opacity: 0;
      pointer-events: none;
      .modal-container {
        animation: fadeModal .5s ease-in-out;
        border-radius: 100px;
        animation-direction: alternate;
      }
    }
    @keyframes fadeModal {
      from {
        transform: scale(.3);
        border-radius: 100px;
      }
      to {
        transform: scale(1);
        border-radius: 0;
      }
    }
  }
  &-container {
    max-width: 32.5rem;
    min-width: 300px;
    width: 100%;
    background: $white;
    padding: 2.3125rem 2.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 65px 0 rgba(24, 79, 170, 0.25);
    overflow: hidden;
    transition: all 3s ease;
    position: relative;
  }
  &-content{
    &__title{
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.5rem;
    }
  }
  &-close-btn {
    position: absolute;
    top: 2.3125rem;
    right: 2.5rem;
    width: 1.2rem;
    height: 1.2rem;
    &:before,
    &:after{
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      top:50%;
      background: $black;
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
    &:hover{
      &:before,
      &:after{
        background: red;
      }
    }
  }
}