@import "sass-modules/colors";

body{
  font-family: 'Roboto', sans-serif;
  font-size: 0.9375rem;
  min-width: 560px;
  a,.link{
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
    &:hover{
      text-decoration: none;
    }
  }
}

@import "sass-modules/mixins";
@import "sass-modules/fonts";
@import "sass-modules/layout";
@import "sass-modules/section";
@import "sass-modules/container";
@import "sass-modules/profile";
@import "sass-modules/modal";
@import "sass-modules/filedrop";
@import "sass-modules/image-croper";
@import "sass-modules/btn";

